* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

html {
	scroll-behavior: smooth;
}
/*start landing page*/

#jumbo-land {
	height: 100vh;
	background-color: red;
	background: url(http://wallpapertop.net/wp-content/uploads/2017/12/Paulo%20Dybala%20HD%20download.jpg);
	background-size: cover;
	padding: 0;
	margin: 0;
	border-radius: 0;
	position: relative;
}

.container-jumbo {
	position: absolute;
	top: 20%;
	left: 10%;
	color: #f2f2f2
/*	background-color: #525254;*/
/*	background-color: #d3d3d3; */
}

.container-jumbo h1 {
	color: #f2f2f2;
	padding: .5rem;
	letter-spacing: .1em;
}

.enter-edit {
	background-color: #B6864D;
}

.enter-edit a {
	color: #f2f2f2;
}



/*end landing page*/

/*start homepage*/

.navbar {
	background-color: #525254;
}

.navbar > a {
	color: #f2f2f2;
}

#carousel-home {
	height: 90vh;
}

#carousel-home img {
	height: 90vh;
	max-height: 90vh;
}

.no-padding {
	padding-left: 0;
	padding-right: 0;
}

/*#card-homepage {
	height: 30vh;
}*/

/*#card-homepage img {
	height: 30%;
}
*/



.news-card-image {
	background-size: contain;
}

.ovl {
	opacity: 0;
}

.ovl:hover {
	opacity: 1;
	background-color: #525254;
	color: #B6864D;
	transition: 1s;
}
/*.news-card {
	background: url('https://cdn.vox-cdn.com/thumbor/NXgXTrcJ1cHFqpmoTiAlyZqvlnU=/0x0:3000x1749/1200x800/filters:focal(963x731:1443x1211)/cdn.vox-cdn.com/uploads/chorus_image/image/61807021/1044564642.jpg.0.jpg');
}*/

/*
#card-homepage .card img {
	height: 
}*/

.subscribe {
	margin-top: 0;
}

.container-sub {
	background-color: #2C2C2E;
	padding: 3rem;
}

.body-sub {
	background-color: #f2f2f2;
	padding: 1rem;
}

.body-sub h1 {
	text-transform: uppercase;

}

.body-sub button {
	background-color: #B6864D;
}

/*end homepage*/


/*start about*/

.container-team {
	height: 100%;
}

.juve-team {
	background-color: #525254;
}

.juve-team h1 {
	color: #f2f2f2;

}

.container-team-logo {
	height: 100%;
/*	background-color: #B6864D;
*/}


.team-gallery .card {
	height: 50vh;
}

.team-gallery .card img {
	height: 50vh;
}

.card-header {
	background-color: #525254;
}

.card-header button {
	color: #f2f2f2;
}

.container-team-logo {
	background-color: #B6864D;
}

.no-padding-team-left {
	padding-left: 0;
}

.no-padding-team-right {
	padding-right: 0;
}


.container-gallery {
	background-size: cover;
	background-repeat: no-repeat;
}

.container-gallery img {
	background-size: cover;
	background-repeat: no-repeat;
}

/*end about*/



/*footer*/

footer {
	background-color: #525254;
	color: #f2f2f2;
	opacity: .9;
}

/*.social-footer {
	height: 50%;
}
*/

/*end footer*/
